body,html{
  margin: 0;
  
}
.bs{
  
  background-color: black;
  justify-content: center;
  overflow: hidden;
  
}
.ms{
  display: flex;
  
  padding:2rem;
  border:none; 
  
}
.as{
  display: flex;
  border:none;
  padding: 2rem;
}

p{
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  padding-left: 1rem;
  padding-right: 1rem;
}
h2{
  color:aliceblue;
}
.nav h2{
  padding-left: 2rem;
}
.nav{
  display:flex;
  
}
ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left:50rem;
  
  
}
ul li{
  padding-left: 3rem;
  
  
}
 nav ul li a{
  
  color:white;
  
}
ul li a:hover{
  font-size:1.1rem;
  color: gray;
  
}
h3{
    color: aliceblue;
  }

nav{
 display: flex;
 background-color: black;
  border:solid;
  margin-bottom: 10px;
 
  
  align-items: center;
  
}
header{
 
  border:solid;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 10px;
  
  align-items: center;
  
}
main{
  
  border:solid;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 10px;
  
 
  
}
main h2{
  text-align: center;
}
section h2{
  text-align: center;
}
aside h2{
  text-align: center;
}
footer h2{
  text-align: center;
}

section{
  align-items: center;
  border:solid;
  
  margin-bottom: 10px;
  
  
}
article{
  align-items: center;
  border:solid;
  
  margin-bottom: 10px;
}
article h2{
  text-align: center;
}
aside{
  align-items: center;
  border:solid;
  width:40rem;
  margin-left:2rem;
  margin-bottom: 10px;
}
footer{
  background-color: black;
  align-items: center;
  border:solid;
  
  margin-bottom: 10px;
}